.login-box {
    background-color: rgba(204, 243, 247, 0.8);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    margin: 20px;
    overflow: hidden;
}

.login-box h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.margin-top {
    margin-top: 10px;
}

#login-username,
#login-password {
    border: none;
    background-color: #c9b8b881;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.submitButton {
    background-color: #04045e;
    color: rgb(254, 253, 253);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submitButton:hover {
    background-color: #04045e;

}

button {
    background-color: #04045e;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #04045e;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .login-box {

        margin: 10em auto;
    }
}